/*@import '~/component-style-guide/components/_panels';
@import '~/component-style-guide/components/_forms';
*/
body{
        &.Crimson{
                background: rgba(237,20,61,0.2);
        }
        &.DarkOrange{
                background: rgba(255,140,0,0.2);
        }
        &.DarkGreen{
                background: rgba(0,100,0,0.2);
        }
        &.Tan{
                background: rgba(210,180,140,0.2);
        }
        &.CornSilk{
                background: rgba(255,248,220,0.2);
        }
       & > div:last-child{
                width: 800px;
                margin: 20px auto;
        }
        .clear{
                clear:both;
        }
        .container{margin: 1em;}
}
