@import "~component-style-guide/macys-base";
@import "~component-style-guide/mcom-sprites";
/*@import '~/component-style-guide/components/_panels';
@import '~/component-style-guide/components/_forms';
*/
body{
        &.Crimson{
                background: rgba(237,20,61,0.2);
        }
        &.DarkOrange{
                background: rgba(255,140,0,0.2);
        }
        &.DarkGreen{
                background: rgba(0,100,0,0.2);
        }
        &.Tan{
                background: rgba(210,180,140,0.2);
        }
        &.CornSilk{
                background: rgba(255,248,220,0.2);
        }
       & > div:last-child{
                width: 800px;
                margin: 20px auto;
        }
        .clear{
                clear:both;
        }
        &.cb{
          background: #65636b;
          color: #fff;
          font-family: monospace;
        }
        &.cb .panel h1, &.cb .panel h3, &.cb .panel h3, &.cb .panel h4, &.cb .panel h5, &.cb .panel h6{
            font-family: monospace;
            color:#000;
        }
        .logo-box{margin:.5em 1em;}
        .logo-box img{margin-right: .3em;}
        .logo-box i{
          font-size: 3em;
          color: #193a63;
          font-weight: 700;
          vertical-align: bottom;
        }
        .logo{height: 3em;}
        .container{margin: 1em;}
        .container .panel{
          background-color: #254a77;
          border: none;
          border-radius: .3em;
          padding: 0 .5em;
        }
        &.cb .cb-grid{width: 100%;display: table;}
        &.cb .cb-grid .cb-col{display: table-cell;border-right: 1px dotted;padding:0 .3em;}
        &.cb .cb-grid .cb-col-last{border:0}
        .changelog-box li{border-bottom: 1px solid #ccc;}
        .changelog-box i{display: inline-block;margin-right: .3em;vertical-align: text-bottom;}
}
